{% extends "base.html.twig" %}


{% block body %}
<div class="row" style="height: 100%">
<div class="col" id="templateConfig">
  {{ form(form) }}
  <hr />
<input class="btn btn-primary" type="button" id="copyToClipBoard" data-copied="Donn&eacute;es copi&eacute;es dans le presse-papier" value="Copier dans le presse-papier" />
</div>


<div class="col" id="render">
<textarea readonly="readonly" height="100%" style="height: 100%;font-size: 80%" class="bg-white form-control text-monospace small" id="renderData">
{{ render|raw }}
</textarea>
</div>
</div>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/default.min.css">
{% endblock %}

{% block javascripts %}
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/highlight.min.js"></script>
<script>
function copyToClipBoard(elemId) {
  /* Get the text field */
  var copyText = document.getElementById(elemId);

  /* Select the text field */
  copyText.select();
  copyText.setSelectionRange(0, 99999); /*For mobile devices*/

  /* Copy the text inside the text field */
  document.execCommand("copy");

  /* Alert the copied text */
  //alert("Copied the text: " + copyText.value);
};

$(document).ready(function()
{
  $("#copyToClipBoard").bind('click', function()
  {
    copyToClipBoard("renderData");
    button = $("#copyToClipBoard");
    button.val(button.data('copied')).removeClass('btn-primary').addClass('btn-warning');
  });
});
</script>
{% endblock %}
