{% extends "base.html.twig" %}


{% block body %}
<div class="row">
  <div class="col-6" id="templateConfig">
    {{ form(form) }}
    <hr />
  <input class="btn btn-primary" type="button" id="copyToClipBoard" data-copied="Donn&eacute;es copi&eacute;es dans le presse-papier" value="Copier dans le presse-papier" />
  </div>


  <div class="col-6" id="render">
    {# <textarea readonly="readonly" height="100%" style="height: 100%;font-size: 80%" class="bg-white form-control text-monospace small" id="renderData"> #}
    <pre class="border"><code class="{{ language }}" id="renderData">
      {{- render|raw -}}
    </code></pre>
    {# </textarea> #}
  </div>
</div>

<div class="row">
  <div id="template" class="col mt-4">
{% set curl = "curl " %}
{% for item in form %}
{% if item.vars.name != "Submit" and item.vars.name != 'file' and '_hash' not in item.vars.name %}
{% set curl = curl ~ "-F 'form[" ~ item.vars.name ~ "]=" ~ (item.vars.value != "" ? item.vars.value : "value") ~ "' " %}
{% endif %}
{% endfor %}
{% set curl = curl ~ " " ~ app.request.SchemeAndHttpHost ~ app.request.requestUri %}
    <code>{{ curl }}</code>
  </div>
</div>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/default.min.css">
{% endblock %}

{% block javascripts %}
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/highlight.min.js"></script>
<script>
hljs.initHighlightingOnLoad();
function copyToClipBoard(elemId) {
  /* create a new temporary textarea to select and copy the content to the clipboard */
  newTextArea = document.createElement('textarea');
  newTextArea.style.position = 'fixed';
  newTextArea.style.top = 0;
  newTextArea.style.left = 0;
  newTextArea.style.height = 0;
  newTextArea.style.width = 0;

  /* Get the text field */
  var copyText = document.getElementById(elemId);

  document.body.appendChild(newTextArea);

  newTextArea.value = copyText.textContent;

  newTextArea.focus();
  newTextArea.select();

  /* Select the text field */
  newTextArea.select();
  newTextArea.setSelectionRange(0, 99999); /*For mobile devices*/

  /* Copy the text inside the text field */
  document.execCommand("copy");

  /* remove the textarea */
  document.body.removeChild(newTextArea);
};

$(document).ready(function()
{
  $("#copyToClipBoard").bind('click', function()
  {
    copyToClipBoard("renderData");
    button = $("#copyToClipBoard");
    button.val(button.data('copied')).removeClass('btn-primary').addClass('btn-warning');
  });
});
</script>
{% endblock %}
